---
layout: page
title: Archiv
---

{% for post in site.posts %}
    <p>
      <i>{{ post.date | date: "%d.%m.%Y" }}</i>  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </p>
{% endfor %}	
