---
layout: default
title: DAV Sektion USC
---
<H1>SEKTION UNIVERSITATS-SPORTCLUB<br>DES DEUTSCHEN ALPENVEREINS E.V.</H1>

<h2>Ansprechpartner</h2>

<h3>1. VORSITZENDER</h3>
<p>Manfred Dosch </p>

<h3>WEITERE ANSPRECHPARTNER</h3>
<p>Elisabeth Schönemann</p>

<h2>GESCHÄFTSSTELLE</h2>
<p><a href="http://maps.google.de/maps/place?cid=14902252808989640425&q=Helene-Mayer-Ring+31,+M%C3%BCnchen&hl=de&cd=3&cad=src:pplink&ei=5zk9Tf-7FY-QsAaBjOHzDw&sig2=NXZk_cnCpc-79ZDWzQ1leg" target="_blank">Helene-Mayer-Ring 31</a> (Nähe Oly-Dorf Einkaufspassage, bei Zahnärztin Dr.
Netzband)<br>&nbsp;<br>
geöffnet Donnerstags 18-20 Uhr (nicht in den Schulferien!)<br>&nbsp;<br>
Tel.: 089/35 78 99 40<br>
Fax: 089/35 78 99 42</p>

<h2>PROGRAMM</h2>
<p>Siehe Webseite: <a href="http://www.dav-usc-muenchen.de" target="_blank">www.dav-usc-muenchen.de</a> und Sektionsnachrichten
(erhältlich in der Geschäftsstelle) </p>
