---
layout: default
---
<H1 class="grau">Impressum</H1>

<h2>Anschrift</h2>
<p>Universitäts-Sportclub München e. V.<br>
Helene-Mayer-Ring 31<br>
80809 München<br>
Telefon: +49 89 3519664<br>
Telefax: +49 89 3519664<br>

<h2>Elektronische Adresse</h2>
E-Mail: <a HREF="mailto:info@usc-muenchen.de">info@usc-muenchen.de</a><br>
Internet: www.usc-muenchen.de</p>

<h2>Vertretungsberechtigter Vorstand</h2>
<p>Prof. Dr. Peter Kapustin (1. Vorsitzender) Dr. Alexander Neumann (2. Vorsitzender), Julia Ouyang, Toni Schneider, Roswitha Buchner, Betina Gabler<br> 
Registergericht: Amtsgericht München<br>
Registernummer: VR </p>

<h2>Verantwortungsbereich</h2>
<p>Das Impressum gilt nur für die Internetpräsenzen unter den Adressen: <b>http://www.usc-muenchen.de</b> und <b>http://www.usc-muenchen.org</b> .<p>

<h2>Inhalt des Onlineangebotes</h2>
<p>Der 
          Autor &uuml;bernimmt keinerlei Gew&auml;hr f&uuml;r die Aktualit&auml;t, 
          Korrektheit, Vollst&auml;ndigkeit oder Qualit&auml;t der bereitgestellten 
          Informationen. Haftungsanspr&uuml;che gegen den Autor, welchesich auf 
          Sch&auml;den materieller oder ideeller Art beziehen, die durch die Nutzung 
          oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung 
          fehlerhafter und unvollst&auml;ndiger Informationen verursacht wurden, 
          sind grunds&auml;tzlich ausgeschlossen, sofern seitens des Autors kein 
          nachweislich vors&auml;tzliches oder grob fahrl&auml;ssiges Verschulden 
          vorliegt.<p>
<p>Alle 
          Angebote sind freibleibend und unverbindlich. Der Autor beh&auml;lt 
          es sich ausdr&uuml;cklich vor, Teile der Seiten oder das gesamte Angebot 
          ohne gesonderte Ank&uuml;ndigung zu ver&auml;ndern, zu erg&auml;nzen, 
          zu l&ouml;schen oder die Ver&ouml;ffentlichung zeitweise oder endg&uuml;ltig 
          einzustellen.<p> 

<h2>Verweise und Links</h2>
<p>Bei 
          direkten oder indirekten Verweisen auf fremde Webseiten (&quot;Hyperlinks&quot;), 
          die au&szlig;erhalb des Verantwortungsbereiches des Autors liegen, w&uuml;rde 
          eine Haftungsverpflichtung ausschlie&szlig;lich in dem Fall in Kraft 
          treten, in dem der Autor vonden Inhalten Kenntnis hat und es ihm technisch 
          m&ouml;glich und zumutbar w&auml;re, die Nutzung im Falle rechtswidriger 
          Inhalte zu verhindern.<p>
<p>Der 
          Autor erkl&auml;rt hiermit ausdr&uuml;cklich, dass zum Zeitpunkt der 
          Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar 
          waren. Auf die aktuelle und zuk&uuml;nftige Gestaltung, die Inhalte 
          oder die Urheberschaft der gelinkten/verkn&uuml;pften Seiten hat der 
          Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdr&uuml;cklich 
          von allen Inhalten aller gelinkten /verkn&uuml;pften Seiten, die nach 
          der Linksetzung ver&auml;ndert wurden. Diese Feststellung gilt f&uuml;r 
          alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise 
          sowie f&uuml;r Fremdeintr&auml;ge in vom Autor eingerichteten G&auml;steb&uuml;chern, 
          Diskussionsforen und Mailinglisten. F&uuml;r illegale, fehlerhafte oder 
          unvollst&auml;ndige Inhalte und insbesondere f&uuml;r Sch&auml;den, 
          die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen 
          entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen 
          wurde, nicht derjenige, der &uuml;ber Links auf die jeweilige Ver&ouml;ffentlichung 
          lediglich verweist.<p> 

<h2>Urheber- und Kennzeichenrecht</h2>
<p>Der 
          Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten 
          Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm 
          selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu 
          nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und 
          Texte zur&uuml;ckzugreifen.<p>
<p>Alle 
          innerhalb des Internetangebotes genannten und ggf. durch Dritte gesch&uuml;tzten 
          Marken- und Warenzeichen unterliegen uneingeschr&auml;nkt den Bestimmungen 
          des jeweils g&uuml;ltigen Kennzeichenrechts und den Besitzrechten der 
          jeweiligen eingetragenen Eigent&uuml;mer. Allein aufgrund der blo&szlig;en 
          Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch 
          Rechte Dritter gesch&uuml;tzt sind!<p>
<p>Das 
          Copyright f&uuml;r ver&ouml;ffentlichte, vom Autor selbst erstellte 
          Objekte bleibt allein beim Autor der Seiten. Eine Vervielf&auml;ltigung 
          oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte 
          in anderen elektronischen oder gedruckten Publikationen ist ohne ausdr&uuml;ckliche 
          Zustimmung des Autors nicht gestattet.<p> 

<h2>Datenschutz</h2>
<p>Sofern 
          innerhalb des Internetangebotes die M&ouml;glichkeit zur Eingabe pers&ouml;nlicher 
          oder gesch&auml;ftlicher Daten (Emailadressen, Namen, Anschriften) besteht, 
          so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdr&uuml;cklich 
          freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen 
          Dienste ist - soweit technisch m&ouml;glich und zumutbar - auch ohne 
          Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines 
          Pseudonyms gestattet. Die Nutzung der im Rahmen des Impressums oder 
          vergleichbarer Angaben ver&ouml;ffentlichten Kontaktdaten wie Postanschriften, 
          Telefon- und Faxnummern sowie Emailadressen durch Drittezur &Uuml;bersendung 
          vonnicht ausdr&uuml;cklich angeforderten Informationen ist nicht gestattet. 
          Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei 
          Verst&ouml;ssen gegen dieses Verbot sind ausdr&uuml;cklich vorbehalten.</p>


<h2>Rechtswirksamkeit dieses Haftungsausschlusses</h2>
<p>Dieser 
          Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, 
          von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne 
          Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr 
          oder nicht vollst&auml;ndig entsprechen sollten, bleiben die &uuml;brigen 
          Teile des Dokumentes in ihrem Inhalt und ihrer G&uuml;ltigkeit davon 
          unber&uuml;hrt.</p>

