---
layout: default
---

<div class="posts">
  {% for post in site.posts limit:4 %}
    <article class="post">

      <h1>{{ post.title }}</h1>

      <div class="entry">
        {{ post.content }}
      </div>

      <div class="date">
        {{ post.date | date: "%-d.%-m.%Y" }}
      </div>
    </article>
  {% endfor %}
</div>

{% capture info %}{% include home-info.md %}{% endcapture %}
{{ info | markdownify }}
