---
layout: default
title: Rollstuhlbasketball
---
<H1>ROLLSTUHLBASKETBALL</H1>

<h2>Ansprechpartner</h2>

<h3>1. Vorsitzender</h3>
<p>Wolfgang Schäfer<br>
Tel. 089/95 95 37 03<br>
<a href="mailto:geschaeftsstelle@usc-rollstuhlsport.de">geschaeftsstelle@usc-rollstuhlsport.de</a></p>

<h3>stellvertretender Vorsitzender</h3>
<p>Arne Wettig<br>
Tel. 089/83 93 85 83<br>
<a href="mailto:arne.wettig@psg-online.com">arne.wettig@psg-online.com</a></p>

<h2>Historie</h2>
<p>1966 Gründung der Sportgruppe<br>
1975 Beitritt zum USC München<br>
2001 Gründung USC München Rollstuhlsport e.V.</p>

<h2>Personenkreis</h2>
<p>Studierende, Hochschulangehörige, Erwachsene, Kinder und Jugendliche, Rollstuhlfahrer</p>

<h2>Beitrag</h2>
<p>Erwachsene&nbsp;&nbsp;&nbsp;75,- EUR pro Jahr<br>
Kinder unter 18&nbsp;&nbsp;&nbsp;45,- EUR pro Jahr<br>
Familien (ab 3 Personen)&nbsp;&nbsp;&nbsp;150,- EUR</p>

<h2>Weitere Informationen</h2>
<p>unter <a HREF="http://www.usc-rollstuhlsport.de/" target="_blank">www.usc-rollstuhlsport.de</a></p>
