---
layout: abteilung
title: Rollstuhltanzsport
email: rollstuhltanzsport@usc-muenchen.de
homepage: http://www.usc-mrt.de/
---
<h2>Ansprechpartner</h2>

<h3>ABTEILUNGSLEITERIN</h3>
<p>Margit Quell, Hartfeldstr. 11, 82291 Mammendorf<br>Tel.: 08145/6124 Fax: 08145/6125</p>

<h3>STELLVERTRETENDE ABTEILUNGSLEITERIN</h3>
<p>Dorothea Mohr, Kriegerheimstr. 28, 81377 München<br>Tel./Fax: 089/717131</p>

<h2>Historie</h2>
<p>Gründungsjahr 1975<br>Mitgliederzahl: 54</p>

<h2>Personenkreis</h2>
<p>Jugendliche, Studierende und Erwachsene</p>

<h2>Beitrag</h2>
<p>Euro&nbsp;&nbsp;66.-/Jahr</p>

<h2>Trainingszeiten und -orte</h2>
<p>Gymnastikraum der ZHS, Connollystr. 32, 80809 München während des Semesters:<br>&nbsp;<p>
    <table cellspacing="0" cellpadding="0">
        <colgroup>
            <col width=75>
            <col width=150>
            <col width=150>
        </colgroup>
        <tr>
            <td valign="top"><p>Dienstag<br>Freitag</td>
    <td valign="top"><p>18.00-21.00 Uhr<br>19.30-21.00 Uhr</td>
    <td valign="top"><p>Anfängerlnnen<br></td>
    </tr>

    </table>

<h2>WETTKAMPF- UND SPIELBETRIEB</h2>
<p>Turniertanz Standard/Latein, Freestyletanz, Tanztheater, Rock ‘n Roll</p>
