---
layout: abteilung
title: Turnen
email: turnen@usc-muenchen.de
homepage: http://www.turncampus-muenchen.de/
---
<h2>Ansprechpartner</h2>

<h3>ABTEILUNGSLEITER</h3>

<p>Frank Grob, Nadistr. 14, 80809 München<br>
    Tel.: 089/351 69 13<br>
    Mail: frank.grob(at)tum.de</p>

<h3>WEITERER ANSPRECHPARTNER</h3>


<p>Toni Schneider, Brünnsteinstr. 4, 81541 München<br>
    Tel.: 089/64954060<br>
    Mail: akro_toni(at)hotmail.com</p>

<h2>Historie</h2>

<p>Gründungsjahr: 1966<br>
</p>

<h2>Personenkreis</h2>

<p>Mitgliederzahl: 300</p>
<p>Mädchen, Buben ab 4 Jahre</p>

<h2>Bereiche</h2>
Allgemeines Turnen<br>
Leistungsturnen<br>
Akrobatik<br>
Bewegungskünste (Kinder, Jugendliche)<br>

<h2>Jahresbeitrag</h2>

<p>
    Euro&nbsp;&nbsp; 60 bis sechs Jahre</p>
<p>
    Euro 120 ab sechs Jahre</p>
<p>Euro 160 für Leistungstrainingteilnehmer</p>
<p>Für weitere Familienmitglieder gilt jeweils die Hälfte des angesetztem Jahresbeitrags<br>
</p>

<h2>Trainingsorte</h2>
Turnhalle 2/3 der ZHS, Connollystr. 32, 80809 München<br>
Turnhalle im Dantestadion

<h2>Trainingszeiten</h2>
<p>Werden mit den jeweiligen Übungsleitern vereinbart</p>