{% if site.footer-links.email %}Email an die Geschäftstelle des USC München: <a href="mailto:{{ site.footer-links.email }}">{{ site.footer-links.email }}</a><br>{% endif %}
<!--
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}">github</a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml">RSS</a>{% endif %}
-->
