---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
    <hr>
      {% if page.email %}Email an die Abteilung: {{ page.email }} <br>{% endif %}

      {% if page.homepage %} Homepage: <a href="{{ page.homepage }}" target="_blank">{{ page.homepage }}</a>{% endif %}
  </div>
</article>

