<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/images/{{ site.logo }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          
          <nav>
              <a href="{{ site.baseurl }}/info">Info</a>
              <a href="{{ site.baseurl }}/kinderschwimmen">Kinderschwimmen</a>
              <a href="{{ site.baseurl }}/krafttraining">Krafttraining</a>
              <a href="{{ site.baseurl }}/impressum">Impressum</a>
          </nav>
          
          <nav style="text-align: justify;">
            <a href="{{ site.baseurl }}/bogensport">Bogensport</a>
            <a href="{{ site.baseurl }}/einrad">Einrad</a>
            <a href="{{ site.baseurl }}/eishockey">Eishockey</a>
            <a href="{{ site.baseurl }}/fechten">Fechten</a>
            <a href="{{ site.baseurl }}/karate">Karate</a>
            <a href="{{ site.baseurl }}/leichtathletik">Leichtathletik</a>
            <a href="{{ site.baseurl }}/rollstuhltanzsport">Rollstuhltanzsport</a>
            <a href="{{ site.baseurl }}/segeln">Segeln</a>
            <a href="{{ site.baseurl }}/taekwondo">Taekwondo</a>
            <a href="{{ site.baseurl }}/turnen">Turnen</a>
          </nav>
          
          <nav>
            <i>
              <a href="{{ site.baseurl }}/rollstuhlbasketball">Rollstuhlbasketball</a>
              <a href="{{ site.baseurl }}/dav-sektion-usc">DAV Sektion USC</a>
            </i>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer-links.html %}
        </footer>
      </div>
    </div>

  </body>
</html>
